PORT=5000
MONGODB_URI=mongodb+srv://jhaadarsh709_db_user:otmEVMI3plL6Qw6U@tableflow.mkmcflh.mongodb.net/tableflow?appName=TableFlow
JWT_SECRET=supersecretjwtkeythatshouldbechangedinproduction
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
NODE_ENV=development
